<footer class="bg-primary">
  <div
    class="py-4 container container-fluid d-flex flex-column align-items-center gap-4"
  >
    <a routerLink="/">
      <img src="footer_logo.png" class="adopto-logo" alt="Adopto logo" />
    </a>

    <nav class="d-flex flex-column-reverse flex-lg-row gap-3">
      <div class="accordion d-lg-flex gap-3 w-100" id="adoptoAccordion">
        <div class="accordion-item">
          <h4 class="accordion-header">
            <button
              class="accordion-button fw-bold text-uppercase"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Adopt or get involved
            </button>
          </h4>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
          >
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Who we are</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Love stories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink=""
                    >Animal shelters & rescues</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button
              class="accordion-button fw-bold text-uppercase"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              About cats and kittens
            </button>
          </h4>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
          >
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Find a cat</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Cat breeds</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Feeding your cat</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Cat health</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Cat Adoption</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h4 class="accordion-header">
            <button
              class="accordion-button fw-bold text-uppercase"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              About dogs and puppies
            </button>
          </h4>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
          >
            <div class="accordion-body">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Find a dog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Dog breeds</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Feeding your dog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Dog health</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">Dog Adoption</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <app-call-to-action-card
        message="
        Ready to make a difference? Join us to help pets find their forever homes.
        "
        buttonText="Get started"
        routePath="/auth"
        [avatarImage]="'avatar_puppy.jpeg'"
      ></app-call-to-action-card>
    </nav>
  </div>

  <div class="bg-primaryDarken p-4 text-center">
    <small class="text-light">
      © 2025 Adopto.com <br />
      Proudly supporting animal welfare initiatives.
    </small>
  </div>
</footer>
