@use "mixins" as m;

footer {
  margin-top: 100px;

  .accordion-button {
    @include m.media-up(lg) {
      pointer-events: none;

      &::after {
        display: none;
      }
    }
  }

  .accordion-collapse {
    @include m.media-up(lg) {
      display: block;
    }
  }

  .nav-link {
    padding-left: 0px;
    font-size: 14px;
  }
}
