<nav
  class="d-flex flex-column"
  [ngClass]="{ visible: submenuData !== null && showSubmenu }"
>
  <header
    class="d-flex justify-content-center align-items-center bg-primary p-4 position-relative text-light"
  >
    <button
      class="border-0 bg-transparent text-light caret-left"
      (click)="onCloseSubMenu()"
      aria-label="Close submenu"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none" />
        <polyline
          points="160 208 80 128 160 48"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        />
      </svg>
    </button>
    <h4 class="m-0 text-uppercase">{{ submenuData?.title }}</h4>
  </header>

  <ul class="navbar-nav bg-primaryDarken d-flex flex-column flex-fill p-3">
    @for (item of submenuData?.items; track item.label) {
    <li class="nav-item p-2">
      <a
        class="nav-link"
        (click)="onCloseSubMenu()"
        data-bs-dismiss="offcanvas"
        data-bs-target="#adoptoMobileNav"
      >
        {{ item.label }}
      </a>
    </li>
    }
  </ul>
</nav>
