<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="auth-form w-100"
>
  <div class="container p-lg-5 p-3">
    <header class="d-flex justify-content-between align-items-start">
      <h3 class="text-tertiary">
        {{
          isShelter() ? "Register Your Shelter" : "Sign Up as a Personal User"
        }}
      </h3>
      @if(isSubmitting) {
      <app-spinner color="tertiary"></app-spinner>
      }
    </header>

    <div class="d-flex flex-column gap-3">
      <div class="d-flex flex-lg-row flex-column gap-3">
        @if(isUser()) {

        <div class="form-field-wrapper">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username"
          />
          <app-error
            [control]="registerForm.get('username')"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>

        } @if(isShelter()) {
        <div class="form-field-wrapper">
          <input
            type="text"
            class="form-control"
            formControlName="shelterName"
            placeholder="Charity or shelter name"
          />
          <app-error
            [control]="registerForm.get('shelterName')"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>
        }
        <div class="form-field-wrapper">
          <input
            type="email"
            class="form-control w-100"
            formControlName="email"
            placeholder="Email"
          />
          <app-error
            [control]="registerForm.get('email')"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>
      </div>
      @if(isShelter()){
      <div class="d-flex flex-md-row flex-column gap-3">
        <div class="form-field-wrapper">
          <input
            type="text"
            class="form-control"
            formControlName="address"
            placeholder="Address"
          />
          <app-error
            [control]="registerForm.get('address')"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>
        <div class="form-field-wrapper">
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="Phone"
          />
          <app-error
            [control]="registerForm.get('phone')"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>
      </div>

      }

      <div class="d-flex flex-md-row flex-column gap-3 mb-3">
        <div class="form-field-wrapper">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{
              'ng-invalid': passwordMismatchError
            }"
          />
          <app-error
            [control]="registerForm.get('password')"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>

        <div class="form-field-wrapper">
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Repeat Password"
            [ngClass]="{
              'ng-invalid': passwordMismatchError
            }"
          />

          <app-error
            [control]="registerForm.get('confirmPassword')"
            [form]="registerForm"
            [backgroundColor]="'var(--bs-primaryDarken)'"
          ></app-error>
        </div>
      </div>
    </div>

    <div class="mb-4 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="terms"
        [ngClass]="{
          'is-invalid':
            registerForm.get('terms')?.invalid &&
            registerForm.get('terms')?.touched
        }"
      />
      <label class="form-check-label">
        <small>
          Accept
          <a class="text-secondary text-decoration-underline">
            terms and conditions</a
          >
        </small>
      </label>
    </div>
    <button
      class="btn btn-secondary text-light mb-4 w-100"
      type="submit"
      [disabled]="isSubmitting"
    >
      Register
    </button>

    <app-divider
      [text]="
        isShelter() ? 'back to personal user form' : 'or register as a shelter'
      "
    ></app-divider>

    <div class="form-check form-switch d-flex align-items-center gap-3">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="isShelter"
      />
    </div>
  </div>
</form>
