<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container p-lg-4 p-3">
    <header>
      <h3 class="text-tertiary">
        {{
          isShelter() ? "Register Your Shelter" : "Sign Up as a Personal User"
        }}
      </h3>
    </header>

    <div class="d-flex flex-column gap-3">
      <div class="d-flex flex-lg-row flex-column gap-3">
        @if(isUser()) {

        <div class="">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username"
            [ngClass]="{
              'is-invalid':
                registerForm.get('username')?.invalid &&
                registerForm.get('username')?.touched,
            }"
          />
        </div>

        } @if(isShelter()) {
        <div class="">
          <input
            type="text"
            class="form-control"
            formControlName="shelterName"
            placeholder="Charity or shelter name"
          />
        </div>
        }
        <div class="">
          <input
            type="email"
            class="form-control w-100"
            formControlName="email"
            placeholder="Email"
          />
        </div>
      </div>
      @if(isShelter()){
      <div class="d-flex flex-md-row flex-column gap-3">
        <div class="">
          <input
            type="text"
            class="form-control"
            formControlName="address"
            placeholder="Address"
          />
        </div>
        <div class="">
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="Phone"
          />
        </div>
      </div>

      }

      <div class="d-flex flex-md-row flex-column gap-3">
        <div class="">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          />
        </div>

        <div class="">
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>
      </div>
    </div>

    <div class="my-3 form-check">
      <input type="checkbox" class="form-check-input" formControlName="terms" />
      <label class="form-check-label"
        ><small>I agree to the terms and conditions</small></label
      >
    </div>

    <button class="btn btn-secondary text-light w-100 mb-3" type="submit">
      Register
    </button>

    <app-divider
      [text]="isShelter() ? 'switch back' : 'or register as a shelter'"
    ></app-divider>

    <div class="form-check form-switch d-flex align-items-center gap-3">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="isShelter"
      />
      <!-- <p class="text-tertiary">
        {{ isShelter() ? "" : "register as a shelter" }}
      </p> -->
    </div>
  </div>
</form>

<!-- @if(isShelter() ) {
    <div class="mb-3">
      <input
        type="file"
        class="form-control"
        (change)="onFileChange($event, 'logo')"
        placeholder="Shelter logo"
      />
    </div>
    } -->
