:host {
  --bs-body-bg: transparent;
  --bs-body-color: var(--bs-light);
  --bs-border-color: var(--bs-secondary);
  --bs-form-label-color: var(--bs-tertiary);
}

label {
  color: var(--bs-form-label-color);
}

input::placeholder {
  color: var(--bs-tertiary);
  opacity: 0.3;
}
