.search-bar {
  position: relative;

  // .ph-magnifying-glass {
  //   cursor: pointer;
  //   transition: all 0.3s ease;
  //   background-color: var(--bs-primary);

  //   &:hover {
  //     background-color: var(--bs-primaryDarken);
  //   }
  // }

  .ph-x {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
