<div class="search_bar d-flex form-inputs align-items-stretch">
  <input
    type="text"
    class="form-control rounded-end-0 shadow-none"
    [ngbTypeahead]="search"
    [placeholder]="placeholderText"
    [(ngModel)]="searchQuery"
    [popupClass]="'test-popup'"
  />

  <i
    class="ph ph-magnifying-glass fs-5 text-light p-3 rounded rounded-start-0"
    (click)="onSearch()"
  ></i>

  @if(searchQuery) {

  <i class="ph ph-x text-primary fs-5 fw-bold" (click)="clearSearch()"></i>
  }
</div>
