@use "mixins" as m;

.section-title a {
  transition: all 0.3s ease;
  color: var(--bs-secondary);
  &:hover {
    color: var(--bs-secondaryDarken);
  }

  .section-title-icon {
    width: 20px;
    height: 20px;
  }

  @include m.media-up(sm) {
    .section-title-icon {
      width: 30px;
      height: 30px;
    }
  }
}
