<nav
  class="secondary_nav bg-primaryDarken navbar navbar-expand-lg position-absolute top-100 start-0 end-0"
>
  <div class="container container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDarkDropdown"
    >
      <span class="navbar-toggler-icon d-none"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button
            class="btn dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Adopt or get involved
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="">About Adopto</a>
            </li>
            <li><a class="dropdown-item" routerLink="">Adopting pets</a></li>
            <li>
              <a class="dropdown-item" routerLink=""
                >Animal shelters & Rescues</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
