@use "mixins" as m;

.navbar {
  opacity: 0;
  transform: translateY(-30%);
  transition: all 0.3s ease;
  display: none;
  z-index: 99999;

  @include m.media-up(lg) {
    display: flex;
  }
}

.navbar.show {
  opacity: 1;
  transform: translateY(0%);
}
