<div
  class="card shadow rounded-3 overflow-hidden text-primary position-relative"
  [ngStyle]="{ width: cardWidth }"
>
  <div class="card-header">
    <ng-content select=".card_header"></ng-content>
  </div>

  <div
    class="img_container position-relative"
    [ngStyle]="{ height: imageHeight }"
    [ngClass]="{ 'placeholder-wave': !imageUrl }"
  >
    @if(imageUrl) {
    <img [src]="imageUrl" alt="card-image" />
    } @else {
    <app-card-placeholder></app-card-placeholder>
    }
  </div>

  <div class="card-body">
    <ng-content select=".card_body">
      <div>
        <h5 class="placeholder-lg placeholder-wave w-100 bg-primary"></h5>
      </div>
    </ng-content>
  </div>
  <div class="card-footer">
    <ng-content select=".card_footer"> </ng-content>
  </div>

  @if(imageUrl){
  <app-favorite-btn
    [positions]="{ top: '8px', right: '8px' }"
    [isFavorite]="isFavorite"
    (isFavoriteChange)="isFavorite = $event"
  ></app-favorite-btn>
  }
</div>
