@use "mixins" as m;

.card {
  @include m.card-size();

  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid var(--bs-primary);
  }

  .img_container {
    @include m.image-placeholder();
  }

  .card-header:empty,
  .card-footer:empty,
  .card-body:empty {
    display: none;
  }
}
