<div class="card shadow rounded-3 overflow-hidden position-relative">
  <div
    class="card-img-top d-flex justify-content-center align-items-center bg-primary"
    [ngClass]="{ 'placeholder-wave': loading || !imageLoaded }"
  >
    @if (!loading) {
    <img
      [src]="item.image || 'default_dog_img1.png'"
      alt="card-image"
      class="card-img-top object-fit-cover"
      (load)="imageLoaded = true"
      [style.display]="imageLoaded ? 'block' : 'none'"
    />
    } @if (!imageLoaded) {

    <svg
      class="paw-print-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 256 256"
    >
      <rect width="256" height="256" fill="none" />
      <circle
        cx="212"
        cy="108"
        r="20"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8"
      />
      <circle
        cx="44"
        cy="108"
        r="20"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8"
      />
      <circle
        cx="92"
        cy="60"
        r="20"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8"
      />
      <circle
        cx="164"
        cy="60"
        r="20"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8"
      />
      <path
        d="M128,104A36,36,0,0,0,93.43,130a43.49,43.49,0,0,1-20.67,25.9,32,32,0,0,0,27.73,57.62,72.49,72.49,0,0,1,55,0,32,32,0,0,0,27.73-57.62A43.46,43.46,0,0,1,162.57,130,36,36,0,0,0,128,104Z"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8"
      />
    </svg>
    }
  </div>

  <div class="card-footer p-3">
    <h4
      class="m-0 text-center text-primary fw-bold"
      [ngClass]="{
        'placeholder-lg placeholder-wave w-100 bg-primary ': loading
      }"
    >
      {{ loading ? "" : item.name }}
    </h4>
  </div>
  @if(!loading && imageLoaded) {
  <app-favorite-btn
    [positions]="{ top: '8px', right: '8px' }"
    [isFavorite]="isFavorite"
    (isFavoriteChange)="updateFavoriteStatus($event)"
  ></app-favorite-btn>

  }
</div>
