<div class="card border-1 shadow bg-primary">
  <div
    class="card-body p-3 text-light text-center font-monospace fst-italic d-flex flex-column align-items-center gap-3"
  >
    @if(avatarImage) {
    <app-avatar [avatarImage]="avatarImage" shape="circle"></app-avatar>
    }

    <p class="card-text">
      {{ message }}
      <i class="ph-fill ph-heart-straight text-secondary fst-italic"></i>
    </p>
    <a
      [routerLink]="routePath"
      data-bs-toggle="offcanvas"
      data-bs-target="#authSidebar"
      class="btn btn-secondary text-light fw-bold w-100 text-uppercase"
    >
      {{ buttonText }}
    </a>
  </div>
</div>
