<nav class="navbar bg-primary p-0 position-relative">
  <div class="container container-fluid h-100">
    <a class="icon-link navbar-brand" routerLink="">
      <img src="adopto_logo.png" class="adopto_logo" alt="adopto logo" />
    </a>
    <ul
      class="navbar-nav d-flex flex-row align-items-center justify-content-between flex-fill h-100"
    >
      <li class="nav-item d-none d-lg-flex">
        <a
          class="icon-link text-light fw-bold"
          (click)="this.showSecondaryNav = !this.showSecondaryNav"
        >
          All about pets
          <i
            class="ph-bold"
            [ngClass]="showSecondaryNav ? 'ph-caret-down' : 'ph-caret-up'"
          ></i>
        </a>
      </li>

      <li class="nav-item d-none d-lg-flex h-100">
        <a
          class="icon-link text-light fw-bold border-light border-end pe-4 border-opacity-50"
        >
          <i class="ph-fill ph-heart fs-3"></i>
          <!-- Favorites -->
        </a>
      </li>
    </ul>

    <ul class="navbar-nav flex-row align-items-center">
      @if(isLoggedIn) {

      <li class="nav-item d-none d-lg-flex ms-5">
        <a class="nav-link text-light">
          <app-user-avatar></app-user-avatar>
        </a>
      </li>

      } @else {
      <button
        class="btn text-primary bg-light rounded fw-bold d-none d-lg-flex ms-5"
      >
        Sign in
      </button>
      }
      <button
        class="shadow-none btn d-lg-none d-flex"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#adoptoMobileNav"
      >
        <i class="ph ph-list text-light fs-2"></i>
      </button>
      <app-sidebar [offcanvasId]="'adoptoMobileNav'">
        <div class="offcanvas_body">
          <nav class="navbar">
            <ul class="navbar-nav d-flex flex-column gap-3">
              @for(dropdown of navItems;track dropdown.title) {
              <li class="nav-item p-2">
                <a class="nav-link">{{ dropdown.title }}</a>
              </li>

              }
            </ul>
          </nav>
        </div>
      </app-sidebar>
    </ul>
  </div>
  <app-secondary-nav
    [isVisible]="showSecondaryNav"
    [secondaryNavItems]="navItems"
  ></app-secondary-nav>
</nav>
