@use "mixins" as m;

.navbar {
  height: 80px;

  .ph-heart {
    transition: all 0.3s ease;
    &:hover {
      color: var(--bs-secondary);
    }
  }

  .adopto_logo {
    width: 50%;
    @include m.media-up(md) {
      width: 75%;
    }
  }
}
