<nav class="navbar bg-primary p-0 position-relative">
  <div class="container container-fluid h-100">
    <a routerLink="/">
      <img src="adopto_logo.png" class="adopto_logo" alt="adopto logo" />
    </a>
    <ul
      class="navbar-nav d-flex flex-row align-items-center justify-content-between flex-fill h-100"
    >
      <li class="nav-item d-none d-lg-flex">
        <a
          class="icon-link text-light fw-bold"
          (click)="this.showSecondaryNav = !this.showSecondaryNav"
        >
          All about pets
          <i
            class="ph-bold"
            [ngClass]="showSecondaryNav ? 'ph-caret-down' : 'ph-caret-up'"
          ></i>
        </a>
      </li>

      <li class="nav-item d-none d-lg-flex h-100">
        <a
          class="icon-link text-light fw-bold border-light border-end pe-4 border-opacity-50"
        >
          <i class="ph-fill ph-heart fs-3"></i>
          <!-- Favorites -->
        </a>
      </li>
    </ul>

    <ul class="navbar-nav flex-row align-items-center">
      @if(isLoggedIn) {

      <li class="nav-item d-none d-lg-flex ms-5">
        <a class="nav-link text-light">
          <app-user-avatar></app-user-avatar>
        </a>
      </li>

      } @else {
      <button
        class="btn text-primary bg-light rounded fw-bold d-none d-lg-flex ms-5"
      >
        Sign in
      </button>
      }
      <button
        class="shadow-none btn d-lg-none d-flex"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#adoptoMobileNav"
      >
        <i class="ph ph-list text-light fs-2"></i>
      </button>
    </ul>
  </div>
  <app-secondary-nav
    [isVisible]="showSecondaryNav"
    [secondaryNavItems]="navItems"
  ></app-secondary-nav>
</nav>

<app-sidebar [offcanvasId]="'adoptoMobileNav'">
  <a class="offcanvas_title" routerLink="/">
    <img src="adopto_logo.png" class="adopto_logo" alt="adopto logo" />
  </a>
  <div class="offcanvas_body h-100">
    <nav class="navbar d-flex flex-column h-100">
      <ul class="navbar-nav d-flex flex-column w-100 flex-fill">
        @for(dropdown of navItems;let i=$index;track dropdown.title) {
        <li
          class="icon-link nav-item p-2"
          (click)="onShowInnerSidebar(dropdown)"
        >
          <a class="nav-link fs-5">{{ dropdown.title }}</a>
          <i class="ph ph-caret-right"></i>
        </li>

        }
        <div class="w-100"><hr class="divider text-light" /></div>
        <li class="nav-item p-2 w-100">
          <a class="nav-link fs-5">Favorites</a>
        </li>
      </ul>

      <ul
        class="navbar-nav d-flex flex-row justify-content-between align-items-center w-100 align-self-end"
      >
        @if(isLoggedIn) {

        <li class="nav-item">
          <a class="nav-link text-light">
            <app-user-avatar></app-user-avatar>
          </a>
        </li>

        } @else {
        <button class="btn text-primary bg-light rounded fw-bold">
          Sign in
        </button>
        }
        <li class="nav-item p-2">
          <span class="p-2 fs-5">En|Ka</span>
        </li>
      </ul>
    </nav>

    @if(showInnerSidebar) {
    <app-submenu
      [sidebarData]="selectedSidebarData"
      (close)="onCloseInnerSidebar()"
    ></app-submenu>
    }
  </div>
</app-sidebar>
