@use "mixins" as m;

.navbar {
  height: 80px;
  @include m.responsive-margin-bottom(20px, 30px, 40px);

  .ph-heart {
    transition: all 0.3s ease;
    &:hover {
      color: var(--bs-secondary);
    }
  }

  li,
  .nav-link {
    color: var(--bs-light);
    transition: all 0.3s ease;

    &:hover {
      color: var(--bs-secondary);
    }
  }
}
app-sidebar {
  z-index: 999999;
}
