<div class="card border-1 shadow border-1 bg-primary">
  <div
    class="card-body p-3 text-light text-center font-monospace fst-italic d-flex flex-column align-items-center gap-3"
  >
    <app-avatar [avatarImage]="'avatar_puppy.jpeg'" shape="circle"></app-avatar>

    <p class="card-text">
      {{ message }}
      <i class="ph-fill ph-heart-straight text-secondary fst-italic"></i>
    </p>
    <a
      [routerLink]="routePath"
      class="btn btn-secondary text-light fw-bold text-center w-100 text-uppercase"
    >
      {{ buttonText }}
    </a>
  </div>
</div>
