.x-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid var(--bs-pageBody);
  border-radius: 50%;
  background-color: var(--bs-primary);
  color: var(--bs-light);
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-light);
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.card {
  width: 120px;
  height: calc(120px * (7 / 6));
  cursor: pointer;
}
.add-btn {
  width: 30px;
  height: 30px;
}
