<div class="d-flex flex-column gap-3">
  <div class="d-flex flex-column gap-3">
    <div
      class="drop-zone d-flex justify-content-center align-items-center"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      [class.active]="isDragging"
    >
      <p class="d-flex flex-lg-row flex-column gap-2 align-items-center">
        Drag and drop images here or
        <button
          class="btn btn-sm btn-secondary text-light"
          (click)="fileInput.click()"
        >
          New image

          <input
            #fileInput
            type="file"
            accept="image/*"
            (change)="fileChangeEvent($event)"
            hidden
            class="d-none"
          />
        </button>
      </p>
    </div>
    <button
      class="btn-secondary btn btn-sm align-self-end"
      [class.glow]="uploadedImages.length"
      type="button"
      (click)="onSaveImages()"
      [disabled]="!imageSaveState"
    >
      Save
    </button>
  </div>

  <div class="d-flex flex-lg-row flex-column flex-sm-column-reverse gap-2">
    @if(activeImageFile) {
    <div class="flex-fill">
      <image-cropper
        [imageFile]="activeImageFile"
        [maintainAspectRatio]="true"
        [aspectRatio]="6 / 7"
        format="webp"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
    }

    <div class="d-flex flex-lg-column flex-lg-nowrap flex-wrap gap-2">
      @for (image of uploadedImages; track image.id) { @if (image.croppedUrl) {
      <div
        class="card shadow position-relative"
        (click)="onShowImage(image.id)"
        [ngClass]="{
          'border border-secondary border-2': image.id === activeImageId
        }"
      >
        <img
          class="position-absolute top-0 start-0 object-fit-cover w-100 h-100 rounded"
          [src]="image.croppedUrl"
          alt="Cropped Image"
        />

        <button
          class="shadow x-icon btn d-flex align-items-center justify-content-center"
          type="button"
          (click)="deleteImage(image.id)"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none" />
            <line
              x1="200"
              y1="56"
              x2="56"
              y2="200"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            />
            <line
              x1="200"
              y1="200"
              x2="56"
              y2="56"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            />
          </svg>
        </button>
      </div>
      } }
    </div>
  </div>
</div>

<!-- (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()" -->
