<div class="container container-fluid">
  <div class="page-section">
    <app-section-title title="Available pets"></app-section-title>
  </div>

  <div class="d-flex flex-column gap-3">
    <app-filter-chips
      [filters]="filters"
      (remove)="onRemoveFilter($event)"
      (clear)="onClearAllFilters()"
    ></app-filter-chips>
    <section class="page-section">
      @if(!myPets.length && !loading) {
      <p>No results matching your criteria. Consider broadening your search.</p>
      } @else {
      <div class="card-list">
        @for (item of myPets ;let i=$index; track i) {

        <app-card [item]="item" [loading]="loading"> </app-card>

        }
      </div>
      }
    </section>
  </div>
</div>
