@use "mixins" as m;

.card-list {
  @include m.grid(
    2,
    16px,
    (
      md: 3,
      lg: 3,
      xl: 4,
    )
  );
}

.filters {
  @include m.media-down(lg) {
    display: none;
  }
}

button {
  display: none;
  border: 1px solid var(--bs-primary);

  @include m.media-down(lg) {
    display: flex;
  }
}

.filter-icon,
.caret-icon {
  width: 18px;
  height: auto;
}
