@use "mixins" as m;
.dropdown {
  list-style: none;
  &-menu {
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(5%);
    visibility: hidden;
  }

  &-menu.show {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  &-menu {
    left: auto;
    right: 0;
  }

  @include m.media-down(lg) {
    &-menu.mobile-popup {
      top: auto;
      bottom: 100%;
    }
  }

  &-toggle {
    transition: color 0.3s ease;
    color: var(--bs-light);

    &:hover {
      color: var(--bs-secondary);
    }

    &::after {
      display: none;
    }
  }

  &-item {
    font-size: 14px;

    span {
      transition: all 0.3s ease;
    }

    &:hover span {
      color: var(--bs-secondary);
    }
  }
}
