.dropdown {
  &-menu {
    transition: all 0.3s ease;
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
  }

  &-menu.show {
    opacity: 1;
    visibility: visible;
  }

  &-toggle {
    transition: all 0.3s ease;
    color: var(--bs-light);

    &:hover {
      color: var(--bs-secondary);
    }

    &::after {
      display: none;
    }
  }

  &-item {
    font-size: 14px;

    span {
      transition: all 0.3s ease;
    }

    &:hover span {
      color: var(--bs-secondary);
    }
  }
}
