@use "mixins" as m;

button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--bs-light);
  z-index: 999;

  @include m.media-down(sm) {
    width: 36px;
    height: 36px;
  }
}
