<div
  class="d-flex flex-lg-row flex-column bg-light rounded mx-auto align-items-lg-center shadow-sm"
  style="max-width: 700px"
>
  <div class="flex-grow-1">
    <app-suggestion-dropdown
      [suggestions]="petBreeds"
      placeholderText="Terrier,Labrador... "
      (queryChange)="selectedBreed = $event"
      [showBorder]="false"
    ></app-suggestion-dropdown>
  </div>
  <span class="d-none d-lg-flex line-vertical">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none" />
      <line
        x1="128"
        y1="24"
        x2="128"
        y2="232"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="8"
      />
    </svg>
  </span>
  <div class="flex-grow-1">
    <app-suggestion-dropdown
      [suggestions]="cityNames"
      placeholderText="Tbilisi,Batumi... "
      (queryChange)="selectedCity = $event"
      [showBorder]="false"
    ></app-suggestion-dropdown>
  </div>

  <div
    (click)="onSearch()"
    class="d-none d-lg-flex justify-content-center align-items-center magnifying-glass rounded mx-2"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="256" height="256" fill="none" />
      <circle
        cx="112"
        cy="112"
        r="80"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <line
        x1="168.57"
        y1="168.57"
        x2="224"
        y2="224"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
    </svg>
  </div>

  <button
    (click)="onSearch()"
    class="btn btn-primary d-lg-none d-flex m-3 d-flex justify-content-center p-2"
  >
    Search for pet
  </button>
</div>
