<div
  class="offcanvas bg-primaryDarken h-100"
  #offcanvasElement
  [ngClass]="[offcanvasPositionClass]"
  tabindex="-1"
  [id]="offcanvasId"
  (shown.bs.offcanvas)="onSidebarShown()"
  (hidden.bs.offcanvas)="onSidebarHidden()"
>
  <div
    class="offcanvas-header bg-primary p-3 d-flex justify-content-between align-items-center"
  >
    <div class="offcanvas-title">
      <ng-content select=".offcanvas__title"></ng-content>
    </div>

    <button type="button" class="btn x-icon" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none" />
        <line
          x1="200"
          y1="56"
          x2="56"
          y2="200"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        />
        <line
          x1="200"
          y1="200"
          x2="56"
          y2="56"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="24"
        />
      </svg>
    </button>
  </div>
  <div class="offcanvas-body" [ngClass]="offcanvasBodyColor">
    <ng-content select=".offcanvas__body"></ng-content>
  </div>
</div>
