<div
  class="offcanvas bg-primaryDarken h-100"
  [ngClass]="[offcanvasPositionClass]"
  tabindex="-1"
  [id]="offcanvasId"
>
  <div class="offcanvas-header bg-primary p-3">
    <div class="offcanvas-title">
      <ng-content select=".offcanvas__title"></ng-content>
    </div>
    <button
      data-bs-dismiss="offcanvas"
      type="button"
      class="btn-close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ng-content select=".offcanvas__body"></ng-content>
  </div>
</div>
