@use "mixins" as m;
.search-bar {
  position: relative;

  .x-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--bs-secondary);
    width: 16px;
    height: 16px;
    @include m.media-up(lg) {
      width: 21px;
      height: 21px;
    }
  }
}
