<div *ngIf="!images || !images.length" class="placeholder-wrapper">
  <div class="placeholder-wave">
    <div
      class="placeholder bg-primary text-light d-flex justify-content-center align-items-center"
      style="height: 460px; width: 100%"
    >
      <svg
        class="paw-print-icon w-25"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
      >
        <rect width="256" height="256" fill="none" />
        <circle
          cx="212"
          cy="108"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <circle
          cx="44"
          cy="108"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <circle
          cx="92"
          cy="60"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <circle
          cx="164"
          cy="60"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <path
          d="M128,104A36,36,0,0,0,93.43,130a43.49,43.49,0,0,1-20.67,25.9,32,32,0,0,0,27.73,57.62,72.49,72.49,0,0,1,55,0,32,32,0,0,0,27.73-57.62A43.46,43.46,0,0,1,162.57,130,36,36,0,0,0,128,104Z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
      </svg>
    </div>
  </div>
</div>
<ngb-carousel
  *ngIf="images && images.length"
  [showNavigationArrows]="images.length > 1"
>
  <ng-template ngbSlide *ngFor="let img of images">
    <img
      [src]="img.src"
      [alt]="img.title"
      class="d-block w-100"
      style="height: 460px; width: 100%; object-fit: cover"
    />
  </ng-template>
</ngb-carousel>
