@use "mixins" as m;

.pet-details {
  .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bs-primaryDarken);

    height: 460px;
    overflow: hidden;

    .slider {
      width: 400px;
      height: 100%;

      @include m.media-down(md) {
        width: 100%;
      }
    }
  }

  .pet-info-group {
    min-height: 400px;

    .pet-info-card {
      flex: 2;
    }

    .pet-adoption-card {
      background-color: var(--bs-primaryDarken);
      flex: 1;
    }
  }
}
