<div [id]="id" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header bg-secondary d-flex justify-content-between align-items-center"
      >
        <h5 class="modal-title fw-bold text-light">{{ title }}</h5>

        <button
          type="button"
          class="btn x-icon p-0"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none" />
            <line
              x1="200"
              y1="56"
              x2="56"
              y2="200"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="24"
            />
            <line
              x1="200"
              y1="200"
              x2="56"
              y2="56"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="24"
            />
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-dark"
          data-bs-dismiss="modal"
          (click)="onCancel()"
        >
          {{ cancelText }}
        </button>
        <button
          type="button"
          class="btn btn-sm"
          [ngClass]="confirmBtnClass"
          data-bs-dismiss="modal"
          (click)="onConfirm()"
        >
          {{ confirmText }}
        </button>
      </div>
    </div>
  </div>
</div>
