<div class="container container-fluid">
  <section class="page-section">
    <app-section-title title="My pets"></app-section-title>
    <div class="controls d-flex justify-content-end align-items-center mb-2">
      @if(!loading) {
      <button
        class="btn"
        type="button"
        [disabled]="!selectedPetIds.size"
        data-bs-toggle="modal"
        data-bs-target="#deletePetsModal"
      >
        <svg
          class="trash-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none" />
          <line
            x1="216"
            y1="56"
            x2="40"
            y2="56"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          />
          <line
            x1="104"
            y1="104"
            x2="104"
            y2="168"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          />
          <line
            x1="152"
            y1="104"
            x2="152"
            y2="168"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          />
          <path
            d="M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          />
          <path
            d="M168,56V40a16,16,0,0,0-16-16H104A16,16,0,0,0,88,40V56"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          />
        </svg>
      </button>
      }
    </div>
    <div class="card-list">
      @for (item of myPets ;let i=$index; track i) {

      <app-card
        [item]="item"
        [loading]="loading"
        [showCheckbox]="true"
        [showEdit]="true"
        [editDropdownItems]="editItems()"
        (cardSelectionChange)="onCardSelectionChange($event)"
        [isSelected]="item.id ? selectedPetIds.has(item.id) : false"
        (idUpdated)="setSelectedPetId($event)"
      >
      </app-card>

      }
    </div>
  </section>
</div>

<app-confirm-modal
  [id]="'deletePetsModal'"
  [title]="'Delete Pets'"
  [message]="'Sure you want to delete?'"
  [confirmText]="'Delete'"
  [cancelText]="'Cancel'"
  [confirmBtnClass]="'btn-danger'"
  (confirmed)="confirmDeletion()"
  (cancelled)="cancelDeletion()"
/>
