@use "mixins" as m;

.offcanvas__body {
  header {
    max-width: 400px;
    &-title {
      line-height: 1.5;
      letter-spacing: 1.8px;
    }
  }

  .container {
    .back-btn {
      width: 30px;
      height: 30px;
    }

    .card {
      background-color: var(--bs-primaryDarken);

      @include m.media-up(xl) {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }

      .arrow-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--bs-light);
        transition: color 0.3s ease;

        &:hover {
          color: var(--bs-secondary);
        }

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
