<app-sidebar [offcanvasPosition]="'top'" #authSidebar>
  <a class="offcanvas__title" routerLink="/">
    <img src="adopto_logo.png" class="adopto-logo" alt="adopto logo" />
  </a>
  <div class="offcanvas__body h-100">
    <div class="container py-lg-5 py-3 h-100 position-relative">
      <div class="row d-flex align-items-lg-center align-items-start h-100">
        <div class="col">
          <div class="card border-0 rounded overflow-hidden">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img
                  src="pet_with_family.jpg"
                  alt="pet with family"
                  class="object-fit-cover w-100 h-100"
                />
              </div>
              <div
                class="position-relative col-xl-6 d-flex flex-column justify-content-center align-items-center"
              >
                @if(authView !=='default' ) {
                <button
                  class="back-btn p-4 align-self-start d-flex align-items-center justify-content-center border-0 rounded bg-transparent d-xl-none"
                  (click)="handleAuthViewChange()"
                  aria-label="back to default auth view"
                >
                  <span class="arrow-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 256 256"
                    >
                      <rect width="256" height="256" fill="none" />
                      <polyline
                        points="160 208 80 128 160 48"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="24"
                      />
                    </svg>
                  </span>
                </button>
                } @if(authView !== 'default'){
                <button
                  class="border-0 bg-primary rounded position-absolute d-none d-xl-block top-50 start-0 translate-middle p-3"
                  (click)="handleAuthViewChange()"
                  aria-label="back to default auth view"
                >
                  <span class="arrow-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 256 256"
                    >
                      <rect width="256" height="256" fill="none" />
                      <polyline
                        points="160 208 80 128 160 48"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="24"
                      />
                    </svg>
                  </span>
                </button>

                } @if(authView === 'default') {
                <header class="text-wrap text-center">
                  <h3 class="header-title text-tertiary">
                    Sign up to help a pet! 🐶
                  </h3>
                </header>
                <div class="w-100" style="max-width: 400px">
                  <app-auth-buttons
                    (loadAuth)="handleAuthViewChange($event)"
                  ></app-auth-buttons>
                </div>
                } @else if(authView === 'login') {
                <div class="w-100">
                  <app-login></app-login>
                </div>

                } @else if(authView === 'register') {
                <div class="w-100">
                  <app-register></app-register>
                </div>

                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-sidebar>
