<div id="petStoriesCarousel" class="carousel slide rounded">
  <div class="carousel-inner text-primary">
    @for(story of petStories; track story.petName; let i = $index) {

    <div
      class="carousel-item"
      [class.active]="i === 0"
      [attr.data-slide-index]="i"
    >
      <div class="carousel-content d-flex flex-lg-row flex-column gap-4">
        <div class="adopto-story-image rounded overflow-hidden">
          <img
            class="object-fit-cover w-100 h-100"
            [src]="'pet_story_' + i + '.jpg'"
            alt="Happy pet with family"
          />
        </div>

        <div
          class="rounded flex-fill d-flex flex-column gap-4 justify-content-center align-items-center position-relative"
        >
          <i class="ph-fill ph-quotes fs-2 text-secondary"></i>
          <div class="text-center">
            <p style="max-width: 560px" class="text-dark">
              {{ story.history }}
            </p>
            <span class="text-secondary fw-bold">
              {{ story.petName }} + {{ story.owner }}
            </span>
          </div>

          <div class="d-flex gap-3 p-2 justify-content-between w-100">
            <i
              class="ph-bold ph-caret-left fs-4 p-2"
              data-bs-target="#petStoriesCarousel"
              data-bs-slide="prev"
            ></i>
            <i
              class="ph-bold ph-caret-right fs-4 p-2"
              data-bs-target="#petStoriesCarousel"
              data-bs-slide="next"
            ></i>
            <!-- <button
              class="carousel-control-prev position-static"
              type="button"
              data-bs-target="#petStoriesCarousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next position-static"
              type="button"
              data-bs-target="#petStoriesCarousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
