@use "variables" as v;

@mixin media-up($size) {
  @media (min-width: map-get(v.$breakpoints, $size)) {
    @content;
  }
}

@mixin media-down($size) {
  $max-width: map-get(v.$breakpoints, $size);

  @if $max-width {
    @media (max-width: #{$max-width - 1px}) {
      @content;
    }
  }
}

@mixin grid($columns: 12, $gap: 16px, $breakpoints: ()) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;

  @if length($breakpoints) > 0 {
    @each $size, $value in $breakpoints {
      @include media-up($size) {
        grid-template-columns: repeat($value, 1fr);
      }
    }
  }
}
