@mixin image-placeholder($height) {
  height: $height;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@mixin card-size($width, $height: auto) {
  width: $width;
  height: $height;
}
