$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$font-family-base: "Poppins", sans-serif;

$primary: #6504b5;

//custom ones
$primaryDarken: #2e0152;
$primaryTint: #c19be1;
$primaryLight: #e0cdf0;
//

$secondary: #cf0091;

$dropdown-link-color: #fff;
$dropdown-bg: #2e0152;
$dropdown-link-hover-bg: transparent;

$btn-color: #fff;
$btn-link-hover-color: #fff;
$btn-link-color: #fff;

$btn-hover-color: #fff;
$btn-active-color: #fff;

$btn-active-border-color: transparent;

$btn-close-color: #fff;
$offcanvas-color: #fff;

$navbar-light-color: #fff;
$navbar-light-hover-color: $primaryTint;

//custom ones
$tertiary: #ff2069;
$custom-bg: #efeef1;
//
