$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$font-family-base: "Poppins", sans-serif;

$primary: #382f60;
$secondary: #a45fbe;
$secondaryLight: #4b81ab;
$tertiary: #485188;

// $primary: #1f3a52;
// $secondary: #41a186;
// $secondaryLight: #8cca6e;
// $tertiary: #d3f689;

$primaryDarken: darken($primary, 10%);
$primaryLight: lighten($primary, 55%);

$custom-bg: #f8f9fa;

$dropdown-bg: $primaryDarken;
$dropdown-link-color: #fff;
$dropdown-link-hover-bg: transparent;
