$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$font-family-base: "Poppins", sans-serif;

$primary: #1f3a52;
$secondary: #41a186;

//custom ones
$primaryDarken: darken($primary, 10%);
$primaryLight: lighten($primary, 55%);
$secondaryLight: #8cca6e;
$tertiary: #d3f689;
$custom-bg: #f8f9fa;
//

$dropdown-bg: $primaryDarken;
$dropdown-link-color: #fff;
$dropdown-link-hover-bg: transparent;

$accordion-color: #fff;
$accordion-bg: $primary;
$accordion-border-width: 0;

$accordion-button-bg: transparent;
$accordion-button-color: #fff;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: $secondary;
$accordion-icon-color: #fff;
$accordion-icon-active-color: #fff;
