@import "variables";
@import "mixins";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

//
$theme-colors: map-merge(
  $theme-colors,
  (
    "primaryDarken": $primaryDarken,
    "primaryLight": $primaryLight,
    "secondaryLight": $secondaryLight,
    "secondaryDarken": $secondaryDarken,
    "tertiary": $tertiary,
    "adoptoBody": $adoptoBody,
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $adoptoBody;
}

p,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

//font sizes and margins

h4 {
  @include responsive-font(18px, 20px, 22px);
}

p,
h6,
.form-control,
.accordion-button,
.btn-secondary,
.btn-primary,
.nav-item .nav-link {
  @include responsive-font(14px, 16px, 16px);
}

.page-section {
  @include responsive-margin-bottom(30px, 46px, 52px);

  .section-title {
    @include responsive-font(20px, 24px, 30px);
    @include responsive-margin-bottom(22px, 26px, 30px);
  }
}

small {
  @include responsive-font(12px, 13px, 13px);
}

//coloring

.nav-item .nav-link {
  color: var(--bs-light);
  transition: all 0.3s ease;

  &:hover {
    color: var(--bs-secondary);
  }
}

.btn-secondary {
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bs-secondaryDarken);
  }
}

.adopto-logo {
  width: 120px;
  @include media-up(md) {
    width: 150px;
  }
}

//
