@import "variables";
@import "mixins";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

//
$theme-colors: map-merge(
  $theme-colors,
  (
    "primaryDarken": $primaryDarken,
    "primaryLight": $primaryLight,

    "secondaryLight": $secondaryLight,

    "tertiary": $tertiary,
    "custom-bg": $custom-bg,
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $custom-bg;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.adopto-section {
  margin-bottom: 70px;

  @include media-down(sm) {
    margin-bottom: 30px;
  }
}

.nav-item .nav-link {
  color: var(--bs-light);
  transition: all 0.3s ease;

  &:hover {
    color: var(--bs-secondary);
  }
}
