<div class="container container-fluid">
  <section class="page-section">
    @if(myPets.length && !loading){
    <app-section-title title="My Favorites"></app-section-title>

    <div class="card-list">
      @for (item of myPets ;let i=$index; track item.id) {

      <app-card [item]="item" [loading]="loading"> </app-card>

      }
    </div>
    } @if(!loading && !myPets.length) {
    <div
      class="position-absolute top-50 start-50 translate-middle d-flex flex-column gap-1 align-items-center"
    >
      <img class="img" src="/dog-cat-6.png" alt="pet-image" />
      <span class="">No pets yet</span>
    </div>
    }
  </section>
</div>
