<div class="home container container-fluid">
  <div class="section">
    <app-search
      [suggestions]="petBreeds"
      placeholderText="Search Terrier,Bengal,etc. "
    ></app-search>
  </div>

  <div class="hero section">
    <img
      src="home_img_5.jpg"
      alt="girls with dog"
      class="rounded object-fit-cover w-100 h-100"
    />

    <div class="hero_cards">
      @for (item of petCards; track item.label) {
      <app-icon-card [item]="item"></app-icon-card>
      }
    </div>

    <img
      src="home_img_9.jpg"
      alt="girls with dog"
      class="rounded object-fit-cover w-100 h-100 d-lg-flex d-none"
    />
  </div>
  <div class="section">asadasdad</div>
</div>
