@use "mixins" as m;

.container {
  .hero-section {
    @include m.grid(
      1,
      16px,
      (
        lg: 3,
      )
    );

    &-icon-cards {
      @include m.grid(2, 10px);
    }
  }

  .card-list {
    @include m.grid(
      2,
      16px,
      (
        md: 3,
        lg: 4,
        xl: 5,
      )
    );
  }
}
