@use "mixins" as m;

.container {
  .adopto-hero {
    @include m.grid(
      1,
      16px,
      (
        lg: 3,
      )
    );

    &-image {
      min-height: 300px;
      @include m.media-up(sm) {
        min-height: 430px;
      }
    }

    .adopto-icon-cards {
      @include m.grid(2, 16px);
    }
  }

  .adopto-card-list {
    @include m.grid(
      2,
      16px,
      (
        md: 3,
        lg: 4,
        xl: 5,
      )
    );
  }
}
