@use "mixins" as m;

.container {
  .hero-section {
    @include m.grid(
      1,
      16px,
      (
        lg: 3,
      )
    );

    &-icon-cards {
      @include m.grid(2, 10px);
    }
  }

  .card-list {
    @include m.grid(
      2,
      16px,
      (
        md: 3,
        lg: 4,
        xl: 5,
      )
    );
  }
}

.hero-section-image {
  min-height: 300px;
  .paw-print-icon {
    color: var(--bs-light);

    svg {
      width: 60px;
      height: 60px;
    }

    @include m.media-up(lg) {
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
}
