<div class="container container-fluid">
  <section class="page-section">
    <app-search-bar></app-search-bar>
  </section>

  <section class="hero-section page-section">
    <ng-container
      *ngTemplateOutlet="heroImage; context: { $implicit: 'home_img_5.jpg' }"
    ></ng-container>

    <div class="hero-section-icon-cards">
      @for (item of petTypes; track item.label) {
      <app-icon-card
        [item]="item"
        [selectable]="false"
        (click)="onSearch(item.value ? item.value : null)"
      ></app-icon-card>
      }
    </div>

    <ng-container
      *ngTemplateOutlet="heroImage; context: { $implicit: 'home_img_9.jpg' }"
    ></ng-container>
  </section>

  <section class="page-section">
    <app-section-title
      title="Pets available for adoption"
      routePath="/pets/search"
      [icon]="true"
    ></app-section-title>

    <div class="card-list">
      @if(loading() ) { @for(item of placeholders;let i=$index;track i ) {
      <app-card [loading]="true"></app-card>

      } }@else { @for (item of petCardData ;let i=$index; track i) {

      <app-card [item]="item" [loading]="false"></app-card>

      } } @if(!loading()) {

      <app-see-more-card
        routePath="/pets/search"
        [totalAmount]="moreAvailablePetsCount"
      ></app-see-more-card>
      }
    </div>
  </section>

  <section class="page-section">
    <app-section-title title="Real-life Love Stories"></app-section-title>
    <app-pet-stories-carousel
      [petStories]="petStories"
      displayMode="both"
    ></app-pet-stories-carousel>
  </section>
</div>

<ng-template #heroImage let-imageSrc>
  <div
    [ngClass]="{ 'bg-primary placeholder-wave': !imageLoaded[imageSrc] }"
    class="hero-section-image shadow rounded overflow-hidden d-flex justify-content-center align-items-center position-relative"
  >
    <img
      [src]="imageSrc"
      alt="girls with dog"
      class="object-fit-cover w-100 h-100"
      (load)="imageLoaded[imageSrc] = true"
      [style.display]="imageLoaded[imageSrc] ? 'block' : 'none'"
    />
    @if(!imageLoaded[imageSrc]) {
    <span class="paw-print-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none" />
        <circle
          cx="212"
          cy="108"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <circle
          cx="44"
          cy="108"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <circle
          cx="92"
          cy="60"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <circle
          cx="164"
          cy="60"
          r="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
        <path
          d="M128,104A36,36,0,0,0,93.43,130a43.49,43.49,0,0,1-20.67,25.9,32,32,0,0,0,27.73,57.62,72.49,72.49,0,0,1,55,0,32,32,0,0,0,27.73-57.62A43.46,43.46,0,0,1,162.57,130,36,36,0,0,0,128,104Z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="8"
        />
      </svg>
    </span>

    }
  </div>
</ng-template>
