<div class="container container-fluid">
  <section class="page-section">
    <app-search-bar></app-search-bar>
  </section>

  <section class="hero-section page-section">
    <ng-container
      *ngTemplateOutlet="heroImage; context: { $implicit: 'home_img_5.jpg' }"
    ></ng-container>

    <div class="hero-section-icon-cards">
      @for (item of petCards; track item.label) {
      <app-icon-card [item]="item"></app-icon-card>
      }
    </div>

    <ng-container
      *ngTemplateOutlet="heroImage; context: { $implicit: 'home_img_9.jpg' }"
    ></ng-container>
  </section>

  <section class="page-section">
    <app-section-title
      title="Pets available for adoption"
      routerLink="/"
      icon="ph-caret-right"
    ></app-section-title>

    <div class="card-list">
      @if (petService.loading()){ @for(item of placeholders;let i=$index;track i
      ) {
      <app-card [loading]="true"></app-card>

      } } @else { @for (item of petCardData | async;let i=$index; track i) {
      <app-card [item]="item" [loading]="false"></app-card>
      } } @if(!petService.loading()) {
      <app-see-more-card [totalAmount]="totalPetsCount"></app-see-more-card>
      }
    </div>
  </section>

  <section class="page-section">
    <app-section-title title="Real-life Love Stories"></app-section-title>
    <app-pet-stories-carousel
      [petStories]="petStories"
      displayMode="both"
    ></app-pet-stories-carousel>
  </section>
</div>

<ng-template #heroImage let-imageSrc>
  <div
    [ngClass]="{ 'bg-primary placeholder-wave': !imageLoaded[imageSrc] }"
    class="hero-section-image shadow rounded overflow-hidden d-flex justify-content-center align-items-center position-relative"
  >
    <img
      [src]="imageSrc"
      alt="girls with dog"
      class="object-fit-cover w-100 h-100"
      (load)="imageLoaded[imageSrc] = true"
      [style.display]="imageLoaded[imageSrc] ? 'block' : 'none'"
    />
    @if(!imageLoaded[imageSrc]) {
    <i class="display-3 text-light ph-thin ph-paw-print position-absolute"></i>
    }
  </div>
</ng-template>
